{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="container">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="btn">
    <button id="submit-comment" class="add-comment-btn"type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comment-section post.comments}}

<script src="/javascript/comment.js"></script>